@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import "_variables";
@import "ui/loading";
@import "ui/menu";
@import "timedropper";
@import "datedropper";
@import "ui/form";
@import "ui/util";

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

*:not(input,textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: $white;
  color: $dark-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

// https://github.com/emberjs/ember.js/issues/11486#issuecomment-245863836
:root,
.ember-application,           // Class name Ember add's to it's `rootElement` (body)
.ember-application > .ember-view {    // Extraneous div for application view
  height: 100%;
}

.ember-application > .ember-view {
  padding-top: 60px;
}

header {
  background: $brand-color;
  color: $white;
  display: flex;
  height: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;

  img {
    margin: 0 auto;
    height: 45px;
    width: auto;
  }
}

.avatar {
  border-radius: 50%;
  height: auto;
  width: 64px;
}

.card {
  background: #eee;
  border: 1px solid rgba(96, 96, 96, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 380px;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  .img {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
    background-size: cover;
  }

  .event {
    align-items: center;
    display: flex;
    height: 50px;

    .avatar {
      width: 32px;
    }

    h2 {
      color: $dark-text;
      flex-grow: 1;
      font-weight: normal;
    }
  }

  .event-details {
    align-items: center;
    color: $text;
    display: flex;

    .description {
      flex-grow: 1;
    }

    .quantity {
      display: flex;
      font-size: 1rem;
      align-items: center;

      .fa {
        font-size: 0.8rem;
        margin-right: 5px;
      }
    }
  }
}

body.index {
  header, .menu-btn {
    display: none;
  }

  .site-wrap {
    background: url('/img/restaurant.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-top: 25px;
      padding: 0;

      img {
        height: 85px;
        margin: 0 auto;
        width: auto;
      }
    }

    .cta {
      border: 1px solid $brand-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
      border-radius: 30px;
      padding: 10px 15px;
      text-transform: uppercase;

      i {
        margin-right: 10px;
      }
    }
  }
}

@import "jtinder";

.choices-list {
  margin: 20px;
  max-width: 420px;

  > div {
    margin-bottom: 20px;
  }
}