@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import "_variables";
@import "jtinder";
@import "ui/menu";
@import "timedropper";
@import "datedropper";
@import "ui/form";
@import "ui/util";

body {
  background: $white;
  color: $dark-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

// https://github.com/emberjs/ember.js/issues/11486#issuecomment-245863836
:root,
.ember-application,           // Class name Ember add's to it's `rootElement` (body)
.ember-application > .ember-view {    // Extraneous div for application view
  height: 100%;
}

header {
  background: $brand-color;
  color: $white;
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;

  img {
    margin: 0 auto;
    height: 45px;
    width: auto;
  }
}

.avatar {
  border-radius: 50%;
  height: auto;
  width: 64px;

}

body.index {
  header, .menu-btn {
    display: none;
  }

  .site-wrap {
    background: url('/img/restaurant.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-top: 25px;
      padding: 0;

      img {
        height: 85px;
        margin: 0 auto;
        width: auto;
      }
    }

    .cta {
      border: 1px solid $brand-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
      border-radius: 30px;
      padding: 10px 15px;
      text-transform: uppercase;

      i {
        margin-right: 10px;
      }
    }
  }
}
