{{outlet}}
<div class="messages-container">
  <ul id='messages'>
    {{#each model as |chat|}}
    <li>
      <h4>{{chat.name}}</h4>
      <span>{{chat.message}}</span>
    </li>
    {{/each}}
  </ul>
</div>

 <img src="https://www.gstatic.com/images/icons/material/system/1x/add_a_photo_black_24dp.png" width="24"/>
 <input type="file" id="file" name="file" />
 <input id='text-input'>
 <button id='send' {{action 'sendMessage'}}>Send</button>
