MY CHOICE PAGE
{{#each chosenEvents as |event|}}
  <div>{{#link-to "events" event.id}}{{event.restaurantName}}{{/link-to}}</div>
  <div>{{event.address}}</div>
  <div>{{event.category}}</div>
{{/each}}
