<div class="wrap">
  <div class="tinderslide">
    <ul></ul>
  </div>
</div>

<!-- jTinder trigger by buttons  -->
<div class="actions">
    <a href="#" class="dislike"><span class="fa fa-thumbs-down"></span></a>
    <a href="#" class="like"><span class="fa fa-thumbs-up"></span></a>
</div>
