<div class="address">
  {{address}} <br/><br/>

  <span>Who is coming</span><br/>
  <div class="users">
    {{#each users as |user index|}}
      {{#link-to 'biography' user.id}}<div style="background-image: url({{user.photoUrl}})" class="avatar"></div>{{/link-to}}
    {{/each}}
  </div>
</div>

<div class="mask"></div>
<div id="map"></div>
